@charset "utf-8";


.fn_cs_cats_list ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}
.fn_cs_cats_list li{
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 30px;
}
.fn_cs_cats_list .img_holder{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: var(--mow-box-shadow);
    margin-bottom: 22px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.fn_cs_cats_list .img_holder a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fn_cs_cats_list .img_holder[data-bg-img=""]{
    background-color: #91a29b;
}
.fn_cs_cats_list .name{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--hff);
    color: var(--mow-hc);
    margin-bottom: 2px;
}
.fn_cs_cats_list .count{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--bff);
    font-size: 18px;
    font-weight: 500;
    color: var(--mow-bc);
    margin-bottom: -7px;
}
.fn_cs_cats_list .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}



/* Searchbox */
.fn_cs_searchbox{
    position: relative;
    overflow: hidden;
}
.fn_cs_searchbox .searchform{
    max-width: 1040px;
    margin: 0 auto;
}
.fn_cs_searchbox .searchbox{
    background-color: #000;
    padding: 110px 0 120px;
}
.fn_cs_searchbox .main_form{
	display: flex;
	gap: 10px;
	border-bottom: 1px solid #fff;
}
.fn_cs_searchbox .input{
	flex: auto;
}
.fn_cs_searchbox .input input{
	width: 100%;
	display: block;
	height: 60px;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	font-size: 24px;
	font-family: var(--bff);
	font-weight: 400;
    color: #fff;
}
.fn_cs_searchbox .input input:focus{
    background-color: transparent;
}
.fn_cs_searchbox .search{
	display: flex;
	align-items: center;
}
.fn_cs_searchbox .search input{
	height: 40px;
    border: none;
    outline: none;
    padding: 0 48px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--hff);
    color: #080808;
    background-color: #fff;
    cursor: pointer;
    transition: .3s;
    display: block;
}
.fn_cs_searchbox .search input:hover{
	background-color: var(--mow-mc1);
	color: var(--mow-contrast-text);
}
.fn_cs_searchbox .label{
    display: block;
    text-align: center;
    font-family: var(--hff);
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.fn_cs_searchbox .popular_cats{
    padding-top: 35px;
}
.fn_cs_searchbox .cats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
}
.fn_cs_searchbox .cats a{
    text-decoration: none;
    margin: 10px 0 0 10px;
    height: 30px;
    border-radius: 15px;
    line-height: 28px;
    font-family: var(--hff);
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 19px;
}
.fn_cs_searchbox .cats a:hover{
    color: var(--mow-mc1);
    border-color: var(--mow-mc1);
}
.fn_cs_searchbox .top_titles{
    margin-bottom: -24px;
}
.fn_cs_searchbox .item{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    font-family: var(--hff);
    color: #000;
    position: relative;
    padding-right: 150px;
}
.fn_cs_searchbox .item_sep{
    width: 50px;
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -9px;
    height: 4px;
    background-color: #000;
}
.fn_cs_searchbox .item_sep:before,
.fn_cs_searchbox .item_sep:after{
	content: '';
	position: absolute;
	width: 4px;
	height: 28px;
	transform: skew(-25deg);
	background-color: #000;
	transform-origin: bottom;
	left: 11px;
	top: -12px;
}
.fn_cs_searchbox .item_sep:before{
	left: 23px;
}


.fn_cs_team_members .member_list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
}
.fn_cs_team_members .member_item{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.fn_cs_team_members .item{
    width: 100%;
    border: 1px solid var(--mow-border-color);
    border-radius: 5px;
    box-shadow: var(--mow-box-shadow);
    padding: 39px;
}
.fn_cs_team_members .member_top{
    display: flex;
}
.fn_cs_team_members .img_holder{
    width: 180px;
    min-width: 180px;
    overflow: hidden;
    margin-right: 30px;
}
.fn_cs_team_members .img_holder img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: var(--mow-box-shadow);
}
.fn_cs_team_members .name{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 2px;
}
.fn_cs_team_members .occ{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--mow-bc);
    margin-bottom: 14px;
}
.fn_cs_team_members .mow_fn_share .share_wrapper ul{
    flex-wrap: wrap;
}
.fn_cs_team_members .member_bottom{
    margin-top: 32px;
}
.fn_cs_team_members .member_bottom p{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--bff);
}
.fn_cs_team_members .member_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media(max-width: 1400px){
    .fn_cs_team_members .img_holder{width: 150px;min-width: 150px;}
    .fn_cs_team_members .name{font-size: 26px;}
    .fn_cs_team_members .item{padding: 29px;}
}
@media(max-width: 1200px){
    .fn_cs_team_members .img_holder{width: 120px;min-width: 120px;}
    .fn_cs_team_members .item{padding: 19px;}
}
@media(max-width: 768px){
    .fn_cs_team_members .member_item{width: 100%;}
}
@media(max-width: 480px){
    .fn_cs_team_members .img_holder{width: 180px;min-width: 180px;}
    .fn_cs_team_members .member_item{width: 100%;}
    .fn_cs_team_members .member_top{flex-direction: column;}
    .fn_cs_team_members .img_holder{margin: 0 0 20px 0;}
    .fn_cs_team_members .name{font-size: 20px;}
    .fn_cs_team_members .occ{font-size: 16px;}
}



.fn__cs_gallery_collage_a ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.fn__cs_gallery_collage_a li{
	margin: 0;
	padding: 0;
	list-style-type: inherit;
}
.fn__cs_gallery_collage_a li img{
	width: 100%;
	display: block;
	object-fit: cover;
	aspect-ratio: 5 / 3.3;
}
.fn__cs_gallery_collage_a li:nth-child(9n + 1),
.fn__cs_gallery_collage_a li:nth-child(9n + 2),
.fn__cs_gallery_collage_a li:nth-child(9n + 3) {
    grid-column: span 4;
}
.fn__cs_gallery_collage_a li:nth-child(9n + 4),
.fn__cs_gallery_collage_a li:nth-child(9n + 5) {
    grid-column: span 6;
}
.fn__cs_gallery_collage_a li:nth-child(9n + 6),
.fn__cs_gallery_collage_a li:nth-child(9n + 7),
.fn__cs_gallery_collage_a li:nth-child(9n + 8),
.fn__cs_gallery_collage_a li:nth-child(9n + 9) {
    grid-column: span 3;
}



.fn__cs_gallery_collage_b ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.fn__cs_gallery_collage_b li{
	margin: 0;
	padding: 0;
	list-style-type: inherit;
}
.fn__cs_gallery_collage_b li img{
	width: 100%;
	display: block;
	object-fit: cover;
	aspect-ratio: 5 / 3.3;
}
.fn__cs_gallery_collage_b li:nth-child(12n+4){
	grid-column: span 2;
	grid-row: span 2;
}
.fn__cs_gallery_collage_b li:nth-child(12n + 11){
	grid-column: span 2;
	grid-row: span 2;
}



.fn__cs_gallery_collage_g ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.fn__cs_gallery_collage_g li{
	margin: 0;
	padding: 0;
	list-style-type: inherit;
}
.fn__cs_gallery_collage_g li img{
	width: 100%;
	display: block;
	object-fit: cover;
	aspect-ratio: 5 / 3.3;
}
.fn__cs_gallery_collage_g li:nth-child(6n+1){
	grid-column: span 2;
	grid-row: span 2;
}
.fn__cs_gallery_collage_g li:nth-child(6n + 5){
	grid-column: span 2;
	grid-row: span 2;
}





.fn__cs_gallery_masonry .fn__masonry{
	margin: 0;
	padding: 0;
	position: relative;
	margin-left: -20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.fn__cs_gallery_masonry .fn__masonry .mas__in{
	margin: 0;
	padding: 0;
	list-style-type: inherit;
	width: 25%;
	padding-left: 20px;
	margin-bottom: 20px;
}
.fn__cs_gallery_masonry .fn__masonry .mas__in img{
	display: block;
	width: 100%;
}
.fn__cs_gallery_masonry[data-cols="3"] .fn__masonry .mas__in{width: 33.3333%;}
.fn__cs_gallery_masonry[data-cols="2"] .fn__masonry .mas__in{width: 25%;}
.fn__cs_gallery_masonry[data-cols="1"] .fn__masonry .mas__in{width: 100%;}
@media(max-width: 1040px){
	.fn__cs_gallery_masonry[data-cols="4"] .fn__masonry .mas__in,
	.fn__cs_gallery_masonry[data-cols="3"] .fn__masonry .mas__in{width: 50%;}
}
@media(max-width: 768px){
	.fn__cs_gallery_masonry[data-cols="4"] .fn__masonry .mas__in,
	.fn__cs_gallery_masonry[data-cols="2"] .fn__masonry .mas__in,
	.fn__cs_gallery_masonry[data-cols="3"] .fn__masonry .mas__in{width: 100%;}
}




.fn__cs_gallery_grid ul{
	margin: 0;
	padding: 0;
	position: relative;
	margin-left: -20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.fn__cs_gallery_grid li{
	margin: 0;
	padding: 0;
	list-style-type: inherit;
	width: 25%;
	padding-left: 20px;
	margin-bottom: 20px;
}
.fn__cs_gallery_grid li img{
	display: block;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}
.fn__cs_gallery_grid[data-cols="1"] li{width: 100%;}
.fn__cs_gallery_grid[data-cols="2"] li{width: 50%;}
.fn__cs_gallery_grid[data-cols="3"] li{width: 33.3333%;}
.fn__cs_gallery_grid[data-cols="4"] li{width: 25%;}
@media(max-width: 1040px){
	.fn__cs_gallery_grid[data-cols="3"] li,
	.fn__cs_gallery_grid[data-cols="4"] li{width: 50%;}
}
@media(max-width: 768px){
	.fn__cs_gallery_grid[data-cols="3"] li,
	.fn__cs_gallery_grid[data-cols="4"] li{width: 100%;}
}






.fn__cs_gallery_slider .swiper-slide .item_wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}
.fn__cs_gallery_slider .swiper-slide .item_wrapper img{
	object-fit: cover;
}
.fn__cs_gallery_slider .swiper-slide .item_wrapper .item:nth-child(1) img{
	aspect-ratio: 5 / 6;
}
.fn__cs_gallery_slider .swiper-slide .item_wrapper .item:nth-child(2) img{
	aspect-ratio: 10 / 7;
}
.fn__cs_gallery_slider .swiper-slide:nth-of-type(2n) .item_wrapper .item:nth-child(1) img{
	aspect-ratio: 10 / 7;
}
.fn__cs_gallery_slider .swiper-slide:nth-of-type(2n) .item_wrapper .item:nth-child(2) img{
	aspect-ratio: 5 / 6;
}





/* LightGallery */
.fn__lightgallery_lightbox .lg-actions .lg-prev,
.fn__lightgallery_lightbox .lg-actions .lg-next{
	width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background: rgba(255,255,255,.1);
	font-size: 24px;
	outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fn__lightgallery_lightbox .lg-actions .lg-prev:hover,
.fn__lightgallery_lightbox .lg-actions .lg-next:hover{
	background-color: rgba(255,255,255,.2);
}




.fn__cs_gallery_mosaic .item-group:nth-child(even) ul{
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.fn__cs_gallery_mosaic .item-group:nth-child(odd) ul{
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.fn__cs_gallery_mosaic ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
}
.fn__cs_gallery_mosaic li{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin-bottom: 20px;
	width: 16.6666%;
}
.fn__cs_gallery_mosaic .img_holder img{
	width: 100%;
	height: auto;
	display: block;
    object-fit: cover;
	aspect-ratio: 1 / 1;
}
.fn__cs_gallery_mosaic .img_holder{
	width: 100%;
    padding: 18px;
    border: 2px solid var(--mow-border-color);
    border-radius: 10px;
    position: relative;
    transition: all .3s ease;
}
.fn__cs_gallery_mosaic .item_in{
	position: relative;
}
@media(max-width: 830px){
	.fn__cs_gallery_mosaic li{
		width: 100% !important;
	}
}