
   {% extends 'header.html' %}
{% block body %}
      {% load static %}
   
            <!-- !Header -->
            
            <!-- !Desktop Navigation -->
            
            <div class="mow_fn_content">
                <div class="mow_fn_index" data-secondary-sidebar="disable" data-main-sidebar="wsr" data-page="blog">
                    <!-- PAGE TITLE -->
                    <div class="mow_fn_pagetitle">
                        <div class="container">
                            <div class="pagetitle">
                                <div class="pt_left">
                                    <h1 class="fn__title ">{{if_not_page}}</h1>
                                    <div class="fn__desc">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="pt_right">
                                   
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- /PAGE TITLE -->
                    <div class="mow_fn_breadcrumbs">
                        <div class="container">
                            <div class="breadcrumbs_wrap">
                                <ul id="breadcrumbs" class="breadcrumbs">
                                    <li class="item-home">
                                        <a class="bread-link bread-home" href="{% url 'polls:home' %}" title="Ana Səhifə">Ana Səhifə</a>
                                    </li>
                                    <li class="separator separator-home">
                                        <span></span>
                                    </li>
                                    <li class="item-current item-cat">
                                        <span class="bread-current bread-cat">{{if_not_page}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>






                    <div class="mow_fn_ws">
                        <div class="container">
                            <div class="wspage_cols">
                                <div class="wspage_col wspage_list">
                                    <div class="wspage_in">
                                        <div class="mow_fn_blog mow_fn_blog_simple_text">
                                            <div class="mow_fn_bloglist">
                                                <div class="container">
                                                    <div class="mow_fn_bloglist_simple_text">

                                                                
                                                         {% if contents != None %}
                                        {% for content in contents %}

                                                        <article class="post-1217 post type-post status-publish format-standard has-post-thumbnail hentry category-politics category-us tag-republican tag-trump post_item" id="post-1217">
                                                            <div class="blog__item blog__item_simple_text">
                                                                <div class="fn__meta">
                                                                    <p>
                                                                        <a class=" fn_last_category" href="{% url 'slug' category_name=content.category.category_slug  slug_name=content.slug %}">{{content.category.category_slug}}</a>
                                                                        <span class="meta_sep"></span>
                                                                        <span class="meta_item meta_date" title="{{content.publish}}">
                                                                           {{content.publish}}<span class="meta_sep"></span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="title_holder">
                                                                    <h2 class="post_title">
                                                                        <a href="{% url 'slug' category_name=content.category.category_slug  slug_name=content.slug %}" aria-label="{{content.title}}">{{content.title}}</a>
                                                                    </h2>
                                                                    <p class="fn__descr">  {{content.body|safe}}</p>
                                                                </div>
                                                            </div>
                                                        </article>
                                                         {% endfor %}
                                    {% else %}
                                   
                                    
                                   
                                    {% endif %}
                                                        
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                
                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- Close Page -->
            <!-- Footer -->
                  {% include 'footer.html' %}
        </div>


      
        <!-- Searchbox -->
 {% include 'searchbox.html' %}
        <!-- !Searchbox -->



        {% include 'left_menu.html' %}


      
       <!-- / Content -->

{% endblock %}
