{% extends 'header.html' %}
{% block body %}
      {% load static %}
		
		
		
		<div class="mow_fn_content">	
	<div class="mow_fn_coming_soon">
		<div class="container">
			
			<div class="soon_countdown">

				<div class="fn__header_s">
					<div class="ht_left_item fn__logo">
						<a href="" aria-label="Go to homepage">
							<img loading="lazy" decoding="async" width="351" height="46" class="dark_logo" src="{{global_settings.logo}}" alt="logo">

							<img loading="lazy" decoding="async" width="351" height="46" class="light_logo" src="{% static  'images/logo29a.png' %}" alt="logo"></a>				
							</div>
										<div class="hs_left_item fn__skin">
						<a href="#" class="light" aria-label="Switch to light mode"><span class="text">Light</span><i class="fn__isvg fn__isvg-svg__sun "></i></a>
						<a href="#" class="dark" aria-label="Switch to dark mode"><span class="text">Dark</span><i class="fn__isvg fn__isvg-svg__moon "></i></a>
					</div>
									</div>
				
				<div class="fn__countdown__boxed" data-type="due_date" data-date="April 17, 2026 00:00:00">
					<ul>
						<li class="days">
							<div class="item">
								<div class="count">
									<h3 class="fn__title">00</h3>
								</div>
								<span>&#047; Days &#047;</span>
							</div>
						</li>
						<li class="hours">
							<div class="item">
								<div class="count">
									<h3 class="fn__title">00</h3>
								</div>
								<span>&#047; Hours &#047;</span>
							</div>
						</li>
						<li class="minutes">
							<div class="item">
								<div class="count">
									<h3 class="fn__title">00</h3>
								</div>
								<span>&#047; Minutes &#047;</span>
							</div>
						</li><li class="seconds">
							<div class="item">
								<div class="count">
									<h3 class="fn__title">00</h3>
								</div>
								<span>&#047; Seconds &#047;</span>
							</div>
						</li>
					</ul>
					</div>
			</div>
			<div class="soon_title">
				<h3>Building Tomorrow, Today</h3>
				<p>We are crafting a new vision that blends innovation, quality, and design. Stay tuned for the big reveal. Your dream space is about to become a reality. Countdown with us!</p>
			</div>
			
		</div>			
	</div>


	</div>
	

 {% include 'footer.html' %}
	<!-- !Footer -->

</div>




<!-- Magic Cursor -->
<!-- Magic Cursor -->

     <!-- Searchbox -->
 {% include 'searchbox.html' %}
        <!-- !Searchbox -->



        {% include 'left_menu.html' %}


      
       <!-- / Content -->

{% endblock %}