<!-- Footer -->
   {% load static %}
            <footer id="mow_fn_footer" class="mow_fn_footer on_social off_widgets">
                <div class="mow_fn_footer_social_list">
                    <div class="container">
                        <div class="social_in">
                            <div class="social_list">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook">
                                            <span class="icon">
                                                <i class="fn__isvg fn__isvg-facebook reg_svg"></i>
                                                <i class="fn__isvg fn__isvg-facebook hov_svg"></i>
                                            </span>
                                            <span class="text">facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="X Network">
                                            <span class="icon">
                                                <i class="fn__isvg fn__isvg-twitter reg_svg"></i>
                                                <i class="fn__isvg fn__isvg-twitter hov_svg"></i>
                                            </span>
                                            <span class="text">X Network</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="pinterest">
                                            <span class="icon">
                                                <i class="fn__isvg fn__isvg-pinterest reg_svg"></i>
                                                <i class="fn__isvg fn__isvg-pinterest hov_svg"></i>
                                            </span>
                                            <span class="text">pinterest</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="instagram">
                                            <span class="icon">
                                                <i class="fn__isvg fn__isvg-instagram reg_svg"></i>
                                                <i class="fn__isvg fn__isvg-instagram hov_svg"></i>
                                            </span>
                                            <span class="text">instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_w_social_wrapper">
                    <div class="container">
                        <div class="footer_w_social">
                            <div class="w_cols" data-cols="4">
                                <div class="w_col">
                                    <div id="media_image-1" class="widget_block fn__clearfix widget_media_image">
                                        <a href="">
                                            <img width="246" height="32" src="{% static  'images/times-white-logo.png' %} " class="image wp-image-971  attachment-full size-full" alt="" style="max-width: 100%;height: auto" decoding="async"/>
                                        </a>
                                    </div>
                                    <div id="text-1" class="widget_block fn__clearfix widget_text">
                                        <div class="textwidget">
                                            <p>Our platform covers everything from global events and politics to entertainment, technology, and lifestyle, ensuring you never miss a story.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_col">
                                    <div id="nav_menu-1" class="widget_block fn__clearfix widget_nav_menu">
                                        <div class="wid-title">
                                            <span class="text">
                                                <span>Links</span>
                                            </span>
                                        </div>
                                        <div class="menu-footer-links-container">
                                            <ul id="menu-footer-links" class="menu">
                                                <li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409">
                                                    <a href="#">Privacy Policy</a>
                                                </li>
                                                <li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410">
                                                    <a href="#">Terms &#038;Conditons</a>
                                                </li>
                                                <li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411">
                                                    <a href="#">Why Us</a>
                                                </li>
                                                <li id="menu-item-412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412">
                                                    <a href="#">Team</a>
                                                </li>
                                                <li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413">
                                                    <a href="#">Careers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_col">
                                    <div id="nav_menu-2" class="widget_block fn__clearfix widget_nav_menu">
                                        <div class="wid-title">
                                            <span class="text">
                                                <span>Menu</span>
                                            </span>
                                        </div>
                                        <div class="menu-footer-widget-menu-container">
                                            <ul id="menu-footer-widget-menu" class="menu">
                                                <li id="menu-item-780" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-780">
                                                    <a href="#">Partners &#038;Certifications</a>
                                                </li>
                                                <li id="menu-item-779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-779">
                                                    <a href="#">Case Studies</a>
                                                </li>
                                                <li id="menu-item-781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-781">
                                                    <a href="#">Events &#038;FAQ</a>
                                                </li>
                                                <li id="menu-item-782" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-782">
                                                    <a href="#">Solutions</a>
                                                </li>
                                                <li id="menu-item-783" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-783">
                                                    <a href="#">Reviews &#038;Awards</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_col">
                                    <div id="mc4wp_form_widget-1" class="widget_block fn__clearfix widget_mc4wp_form_widget">
                                        <div class="wid-title">
                                            <span class="text">
                                                <span>Newsletter</span>
                                            </span>
                                        </div>
                                        <script>
                                            (function() {
                                                window.mc4wp = window.mc4wp || {
                                                    listeners: [],
                                                    forms: {
                                                        on: function(evt, cb) {
                                                            window.mc4wp.listeners.push({
                                                                event: evt,
                                                                callback: cb
                                                            });
                                                        }
                                                    }
                                                }
                                            }
                                            )();
                                        </script>
                                        
                                        <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-314" method="post" data-id="314" data-name="Newspaper">
                                            <div class="mc4wp-form-fields">
                                                <div class="subscribe_holder">
                                                    <input type="email" name="EMAIL" placeholder="Your email address" required/>
                                                    <input type="submit" value="Subscribe"/>
                                                </div>
                                                <p class="agree">
                                                    <span>
                                                        I consent to receive newsletter via email. For further information,   please review our <a href="#">Privacy Policy</a>
                                                    </span>
                                                </p>
                                            </div>
                                            <label>
                                                Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" autocomplete="off"/>
                                            </label>
                                            <input type="hidden" name="_mc4wp_timestamp" value="1760430709"/>
                                            <input type="hidden" name="_mc4wp_form_id" value="314"/>
                                            <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2"/>
                                            <div class="mc4wp-response"></div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
                <div class="footer_bottom">
                    <div class="container">
                        <div class="footer_bottom_in">
                            <div class="fbi_item">
                                <div class="menu-footer-menu-container">
                                    <ul id="menu-footer-menu" class="footer_menu">
                                        <li id="menu-item-239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239">
                                            <a href="#">Home</a>
                                        </li>
                                        <li id="menu-item-240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240">
                                            <a href="#">About Us</a>
                                        </li>
                                        <li id="menu-item-241" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241">
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414">
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                        <li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-415">
                                            <a href="#">Terms and Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fbi_item">
                                <p class="copyright">Copyright © 2025 MOW. All rights reserved.						</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Footer Bottom -->
            </footer>
            <!-- !Footer -->

            <div class="mow_fn_fixed_social_list has_title"><span class="title">Follow</span><ul><li>
						<a href="#" target="_blank" aria-label="facebook">
							<span class="icon">
								<i class="fn__isvg fn__isvg-facebook hov_svg"></i>
							</span>
							<span class="text">facebook</span>
						</a>
					</li><li>
						<a href="#" target="_blank" aria-label="twitter">
							<span class="icon">
								<i class="fn__isvg fn__isvg-twitter hov_svg"></i>
							</span>
							<span class="text">twitter</span>
						</a>
					</li><li>
						<a href="#" target="_blank" aria-label="pinterest">
							<span class="icon">
								<i class="fn__isvg fn__isvg-pinterest hov_svg"></i>
							</span>
							<span class="text">pinterest</span>
						</a>
					</li><li>
						<a href="#" target="_blank" aria-label="instagram">
							<span class="icon">
								<i class="fn__isvg fn__isvg-instagram hov_svg"></i>
							</span>
							<span class="text">instagram</span>
						</a>
					</li></ul></div>