 <div class="mow_fn_offcanvas_menu right_enabled" >
            <a href="#" class="fn__popup_closer" aria-label="/">
                <span></span>
            </a>
            <div class="offcv_wrapper">
                <div class="container">
                    <div class="offcv_menu">
                        <div class="offcv_menu_left">
                            <div class="menu-offcanvas-menu-container">
                                <ul id="menu-offcanvas-menu" class="mow_fn_offcanvas_nav">
                                    <li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-315">
                                        <a href="#">
                                            Home<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-316">
                                                <a href="#">
                                                    Post Headers<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                                </a>
                                            </li>
                                            <li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-317">
                                                <a href="#">
                                                    Layout<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                                </a>
                                            </li>
                                            <li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318">
                                                <a href="#">
                                                    Category<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                                </a>
                                            </li>
                                            <li id="menu-item-319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-319">
                                                <a href="#">
                                                    Auto Load<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-320">
                                        <a href="#">
                                            Features<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                        </a>
                                    </li>
                                    <li id="menu-item-321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-321">
                                        <a href="#">
                                            Categories<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                        </a>
                                    </li>
                                    <li id="menu-item-322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-322">
                                        <a href="#">
                                            Posts<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                        </a>
                                    </li>
                                    <li id="menu-item-323" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-323">
                                        <a href="#">
                                            Shop<i class="fn__isvg fn__isvg-svg__arrow_4 "></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="offcv_menu_right">
                            <div class="offcv_menu_right_in">
                                <div id="mow_top_articles-4" class="widget_block fn__clearfix widget_mow_top_articles">
                                    <div class="fn__widget_posts_alpha">
                                        <div class="wid-title">
                                            <span class="text">
                                                <span>Popular</span>
                                            </span>
                                        </div>
                                        <div class="fn__widget_filter_content">
                                            <ul class="first_item alpha_items active">
                                                <li class="alpha_item">
                                                    <div class="alpha__item">
                                                        <div class="img_holder">
                                                            <div class="item_img">
                                                                <a href="" aria-label="Republican Party Divided Over Trump’s Influence in 2024 Race">
                                                                    <img loading="lazy" decoding="async" src="" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="title_holder">
                                                            <div class="fn__meta">
                                                                <p>
                                                                    <a class=" fn_last_category" href=" ">Politics</a>
                                                                    <span class="meta_sep"></span>
                                                                    <span class="meta_item meta_date" title="February 1, 2025">
                                                                        8 months ago<span class="meta_sep"></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                            <h3 class="post_title">
                                                                <a href="" aria-label="Republican Party Divided Over Trump’s Influence in 2024 Race">Republican Party Divided Over Trump’s Influence in 2024 Race</a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                                
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        