<div class="mow_fn_fixed_right_bar ready" style="top: 200px; transform: translateY(0px);">
	<div class="help_bar">
		<button class="bar_button mow_fn_register_opener" aria-label="Sign In/Sign Up">

						<span class="icon">
							<i class="fn__isvg fn__isvg-user ">

							</i>
						</span>
						<span class="t_text">Sign In/Sign Up</span>
					</button>				
					<button class="bar_button trigger" aria-label="Open Sidebar" aria-expanded="false" aria-controls="sidebar">
						<span class="icon">

						</span>
						<span class="t_text">Sidebar</span>
					</button>
										<a href="" class="bar_button search_ajax"><i class="fn__isvg fn__isvg-search "></i><span class="t_text">Search</span></a>
								<a href="" class="bar_button trending"><i class="fn__isvg fn__isvg-svg__trending "></i><span class="t_text">Trending</span></a>
								<button class="bar_button icon_bar__audio disabled">
			<span class="play_btn"></span>
			<span class="icon_bar"><span></span><span></span><span></span><span></span><span></span></span>
			<span class="t_text">Play/Pause</span>
		</button>
	</div>
</div>